/* Reset CSS
 * --------------------------------------- */
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

a{
	text-decoration:none;
}

table {
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

strong{
	font-weight: bold;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

caption,th {
    text-align: left;

}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    font-size: 100%;
    margin:0;
    padding:0;
}

q:before,q:after {
    content:'';
}

abbr,acronym { border: 0;
}

h1,h2,h3,h4,h5,h6, a, p{
	font-family: 'Roboto Condensed', monospace;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-weight: 200;
	color:#dce0ff;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 3em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 55%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
	background-color: #201551;
}

#menu li {
	display:inline-block;
	margin: 10px;
	font-weight: 200;
}
#menu li.active{
	border-bottom: 3px solid #DDCC77;
	font-weight: 400;
}

#menu li a{
	text-decoration:none;
	color: #dce0ff;
}
#menu li a:hover{
	color: #DDCC77;
}

#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}

#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	color: #999fff;
  }
  
  .fa:hover {
	  color: #DDCC77;
  }

#section0 .intro{
	position: relative;
} 

#section0 h1, p{
	font-weight: 400;
	font-size: medium;
}

.code_chunk{
	font-family: 'Roboto Mono', monospace;
}

#menu #logo{
	font-family: 'Asimovian', sans-serif;
	font-weight: 900;
}

.slide_header{
	-webkit-text-stroke: 1px #dce0ff;
	color: transparent;
}

.profile_pic{
	width: 30%;
}